@taille:400px;
@tailleBorder:1px;
@fontPath:"../font/";
@imgPath:"../images/";
@import "font.less";
.container {
  width: @taille;
  height: @taille;
  margin: 0 auto;
  position: relative;
  perspective: 1200px;
 
}
div{
    transition:0.7s;
}


body{
margin:0;
padding:0;
}
#header{
    width:100%;
    position: fixed;
    z-index: 99999;
    border-bottom: 1px solid #aaa;
    height: 70px;
    //background: url("@{imgPath}header.png") repeat-x;
    background-color: #eee; 
    margin:0 0 0 0;
    header{
        width: 900px;
        height: 100%;
    
        margin: 0 auto;
    }
    
}
#logo{
    width: 169px;
    height: 59px;
    position: absolute;
    top: 5px;
    z-index:12000;
    background: url("@{imgPath}SerkiCube-logo.jpg") no-repeat;
    overflow: hidden;
    a{
        display: block;
        text-indent: -9999px;
        line-height: 59px;
    }
}
#menu{
    overflow: hidden;
    height: 30px;
    margin:0;
    padding:19px 0 0 225px;
    li{
        list-style-type: none;
        margin:0 0 0 20px;
        height: 27px;
        padding:0;
        cursor: pointer;
        float: left;
        font: 15pt "OpenSansRegular";
        color: #333;
        &:hover{
            border-bottom: 2px solid #B22020;
        }
    }
}
div.wrap{
    width: 100%;
    //background: url("@{imgPath}webtreats_crimson_red_pattern_35.jpg");
    padding:1px 0 0 0;
    position: relative;
 
   
}

#presentation{
    width:900px;
    margin:80px auto;
    text-align: center;
    p{
        font-size: 16pt;
        color:#aaa;
    }
    h2{
        font-size: 22pt;
        color: #444;
        margin: 120px 0 60px 0;
    }
}
#fleche{
    width: 71px;
    height: 84px;
    position: absolute;
    z-index: 2000;
    bottom: 20px;
    transition: none;
    margin: 0 auto;
    background: url("@{imgPath}fleche.png") no-repeat;
}
#cube{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-@taille / 2);
  transform-style: preserve-3d;
  transition: transform 1s; 
  z-index: 5000;

  section{
    width: @taille - @tailleBorder - 20px;
    height: @taille - @tailleBorder - 20px;
    display: block;
    position: absolute;
    border: @tailleBorder solid black;
    padding: 10px;
    background: url("@{imgPath}White_wall_hash.png");
    overflow: hidden;
 
    }
    .technologies { 
        transform: rotateY(0deg) translateZ(@taille / 2);
      
        
        }
   .seb{
        transform: rotateY(-90deg) translateZ(@taille / 2);
        
        
        }
   .karim{
        transform: rotateY(90deg) translateZ(@taille / 2);
        
        
        }
   .outils   {
        transform: rotateX(180deg) translateZ(@taille / 2);
       
        
        }
   .applications    { 
        transform: rotateX(90deg) translateZ(@taille / 2);
      
        
        }
   .autres {
        transform: rotateX(-90deg) translateZ(@taille / 2);
        
        
        }
    &.show-technologies  {
        transform: translateZ( -@taille / 2 ) rotateY(0deg);
        }
    &.show-seb   {
        transform: translateZ( -@taille / 2 ) rotateY(90deg); 
        }
    &.show-karim  { 
        transform: translateZ( -@taille / 2 ) rotateY(-90deg);
        }
    &.show-outil   {
        transform: translateZ( -@taille / 2 ) rotateX(-180deg); 
        }
    &.show-applications    { 
        transform: translateZ( -@taille / 2 ) rotateX(-90deg);
        }
    &.show-autres { 
        transform: translateZ( -@taille / 2 ) rotateX(90deg);
        }

}
div.BackOverlay{
    display:none;
    width: 100%;
    height: 100%;
    background-color:rgba(20,20,20,0.4);
    position: absolute;
    top:0;
    left:0;
}
div.overlay{
    display:none;
    width: 700 px;
    bacgkround: rgb(245,245,245);
    border: 1px solid #fff; 
    position: absolute;
    top:50%;
    left:50% - 400;
}
div.cache{
    display : none;
}

a.lien{
 float : right
}

h2{
    font: bold 16pt calibri;
    color: #333;
    text-shadow: 1px 1px 1px #fff;
}
p{
    font: 11pt "openSansRegular";
    color:#555;
    text-shadow: 1px 1px 1px #fff;
}
