@font-face {
   font-family: 'designio';
   src: url('@{fontPath}/designio/designioregular-webfont.eot');
   src: url('@{fontPath}/designio/designioregular-webfont.eot?#iefix') format('embedded-opentype'),
      url('@{fontPath}/designio/designioregular-webfont.woff') format('woff'),
      url('@{fontPath}/designio/designioregular-webfont.ttf') format('truetype'),
      url('@{fontPath}/designio/designioregular-webfont.svg#designioregular') format('svg');
   font-weight: normal;
   font-style: normal;

}
@font-face {
   font-family: 'OpenSansRegular';
   src: url('@{fontPath}/open/OpenSans-Regular-webfont.eot');
   src: url('@{fontPath}/open/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('@{fontPath}/open/OpenSans-Regular-webfont.woff') format('woff'),
      url('@{fontPath}/open/OpenSans-Regular-webfont.ttf') format('truetype'),
      url('@{fontPath}/open/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
   font-weight: normal;
   font-style: normal;

}
@font-face {
   font-family: 'Open';
   src: url('@{fontPath}/open/OpenSans-Italic-webfont.eot');
   src: url('@{fontPath}/open/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
      url('@{fontPath}/open/OpenSans-Italic-webfont.woff') format('woff'),
      url('@{fontPath}/open/OpenSans-Italic-webfont.ttf') format('truetype'),
      url('@{fontPath}/open/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
   font-weight: normal;
   font-style: italic;

}
@font-face {
    font-family: 'OpenSansLight';
    src: url('@{fontPath}/open/OpenSans-Light-webfont.eot');
    src: url('@{fontPath}/open/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('@{fontPath}/open/OpenSans-Light-webfont.woff') format('woff'),
         url('@{fontPath}/open/OpenSans-Light-webfont.ttf') format('truetype'),
         url('@{fontPath}/open/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
   font-family: 'OpenSemiBold';
   src: url('@{fontPath}/open/OpenSans-SemiboldItalic-webfont.eot');
   src: url('@{fontPath}/open/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
      url('@{fontPath}/open/OpenSans-SemiboldItalic-webfont.woff') format('woff'),
      url('@{fontPath}/open/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
      url('@{fontPath}/open/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
   font-weight: normal;
   font-style: normal;

}
